*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
coverage/
.npminstall
.preinstall*
.postisntall*
.tmp
test/fixtures/tmp
.idea
npm-debug.log.*
.happypack/
packages/npminstall/test/fixtures/css-loader-example2/build/
packages/npminstall/test/fixtures/css-loader-example2/node_modules
packages/npminstall/test/fixtures/css-loader-example2/webpack*.json
!packages/npminstall/test/fixtures/warn-node-modules-exists/node_modules
!packages/npminstall/test/fixtures/ignore-warn-node-modules-exists/node_modules
packages/npminstall/test/fixtures/high-speed-store/tmp
packages/binding*/index.node
packages/binding*/nydusd-bootstrap
packages/downloader/test/fixtures/tar
.nyc_output
.npminstall_tarball
.npmrc
.tnpmrc
.npm_updater.json

.editorconfig
target
