sudo: false
env:
  - CC=clang CXX=clang++ npm_config_clang=1 npm_registry=https://registry.npmjs.com
language: node_js
node_js:
  - '6'
  - '4'
before_script:
  - echo -e "Host *\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
script:
  - 'npm run ci'
  - 'sh test/git-clone-install.sh'
  - 'node test/all.js'
after_script:
  - 'npm i codecov && codecov'
